body {
  max-width: 90vw;
  margin: auto;
  margin-top: 2rem;
  font-family: 'Oswald', sans-serif;

}
h1 {
  color: #81D8D0;
}

ul {
  border: 1px solid #A0E7E5;
  border-radius: 10px;
  padding: 20px 15px;
  list-style: none;
  background-color: #F1CED4;
  opacity: 0.8;
}

li {
  padding: 10px 0;
}

.symbol {
  font-family: 'Inder', sans-serif;
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: #008480;
}
